<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="true">
  <test thread-count="5" name="Test">
    <classes>
      <class name="tests.AllInteraction.FileUpload"/>
      <class name="tests.AllInteraction.AleartsTest"/>
      <class name="tests.AllInteraction.mouseAction"/>
      <class name="tests.AllInteraction.WindowHandlerTest"/>
    
    </classes>
  </test> <!-- Test -->
  
   <test thread-count="5" name="Test2">
    <classes>
      
      <class name="tests.AllInteraction.dropDown"/>
      <class name="tests.AllInteraction.DatePicker"/>
      <class name="tests.AllInteraction.NavigationTest"/>
      <class name="tests.AllInteraction.DatePicking"/>
    </classes>
  </test>
</suite> <!-- Suite -->
