<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="tests.AllInteraction.FileUpload"/>
      <class name="tests.AllInteraction.AleartsTest"/>
      <class name="tests.AllInteraction.mouseAction"/>
      <class name="tests.AllInteraction.WindowHandlerTest"/>
      <class name="tests.AllInteraction.dropDown"/>
      <class name="tests.AllInteraction.DatePicker"/>
      <class name="tests.AllInteraction.NavigationTest"/>
      <class name="tests.AllInteraction.DatePicking"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
